{

"font_family" : "Palatino",
"font_size" : "20",

"x_margin" : "20",
"y_margin" : "30",

"line_width" : "0.5",

"background_color" : "DEC299",
"label_color" : "687D64",
"value_color" : "949258",
"slope_color" : "61514C",

"value_format_string" : "%2d",

"input" : "television.csv",
"output" : "television",
"format" : "pdf"

}