{

"label_font_family" : "Palatino",
"label_font_size" : "12",

"header_font_family" : "Palatino",
"header_font_size" : "14",

"x_margin" : "20",
"y_margin" : "30",

"line_width" : "0.5",

"slope_length" : "300",

"labels" : [ "Current Month", "Previous Month" ],

"header_color" : "403B33",
"background_color" : "EEEEEE",
"label_color" : "73573F",
"value_color" : "A67F5D",
"slope_color" : "000000",
"slope_up_color" : "FF0000",
"slope_down_color" : "2A464D",

"value_format_string" : "%5.1f",
"log_scale" : "true",

"input" : "examples/ics-may-2012-2.csv",
"output" : "examples/output/ics-may-2012-2",
"format" : "js",
"raphael_surface_name" : "icsMay2012Part2",

"description" : "Index of Cyber Security - May 2012",
"source" : "http://dl.dropbox.com/u/43553/ICS_May_2012.pdf"

}
