{

"label_font_family" : "Arial Narrow",
"label_font_size" : "9",

"header_font_family" : "Arial Narrow",
"header_font_size" : "10",

"x_margin" : "20",
"y_margin" : "30",

"line_width" : "1.0",

"slope_length" : "300",

"labels" : [ "# Below Average Indicators", "# Above Average Indicators" ],

"header_color" : "000000",
"background_color" : "FFFFFF",
"label_color" : "111111",
"value_color" : "999999",
"slope_color" : "222222",
"slope_up_color" : "B0B465",
"slope_down_color" : "A13E52",

"value_format_string" : "%2d",

"input" : "examples/linh.csv",
"output" : "examples/output/linh",
"format" : "pdf",

"description" : "2011 report from ICES; LINH Indicators",
"source" : "http://cconley.ca/2011/07/18/education-and-health-care-using-slopegraphs-to-understand-complex-systems/"

}
