{

"label_font_family" : "Palatino",
"label_font_size" : "12",

"header_font_family" : "Palatino",
"header_font_size" : "14",

"x_margin" : "20",
"y_margin" : "30",

"line_width" : "1.0",

"slope_length" : "150",

"labels" : [ "1970", "1979" ],

"header_color" : "262222",
"background_color" : "F2F1EB",
"label_color" : "262222",
"value_color" : "BFB9A4",
"slope_color" : "222222",
"slope_up_color" : "808730",
"slope_down_color" : "8C0303",

"value_format_string" : "%2d",

"input" : "examples/receipts.csv",
"output" : "examples/output/receipts-raph",
"format" : "js",

"description" : "Current Receipts of Government as a Percentage of Gross Domestic Product, 1970 & 1979",
"source" : "Tufte, Edward. The Visual Display of Quantitative Information. Cheshire, Connecticut: Graphics Press; 1983; p. 158"

}
