{

"label_font_family" : "Palatino",
"label_font_size" : "12",

"header_font_family" : "Palatino",
"header_font_size" : "14",

"x_margin" : "20",
"y_margin" : "30",

"line_width" : "0.5",

"slope_length" : "250",

"labels" : [ "April 2011", "March 2012" ],

"header_color" : "262222",
"background_color" : "F2F1EB",
"label_color" : "262222",
"value_color" : "BFB9A4",
"slope_color" : "222222",
"slope_up_color" : "802A30",
"slope_down_color" : "8C0303",

"value_format_string" : "%9d",
"add_commas" : "true",

"log_scale" : "true",

"input" : "examples/spam.csv",
"output" : "examples/output/spam-js",
"format" : "js",

"description" : "McAfee Threat Report: First Quarter 2012; Spam Volume, April 2011 - March 2012",
"source" : "http://www.mcafee.com/us/resources/reports/rp-quarterly-threat-q1-2012.pdf"

}
