{

"label_font_family" : "Palatino",
"label_font_size" : "9",

"header_font_family" : "Palatino",
"header_font_size" : "10",

"x_margin" : "20",
"y_margin" : "30",

"line_width" : "1.0",

"slope_length" : "300",

"labels" : [ "1998", "2007" ],

"header_color" : "000000",
"background_color" : "FFFFFF",
"label_color" : "111111",
"value_color" : "999999",
"slope_color" : "C98360",
"slope_up_color" : "54283C",
"slope_down_color" : "DBA96C",

"value_format_string" : "$%d",
"add_commas" : "true",

"input" : "examples/tanzania.csv",
"output" : "examples/output/tanzania",
"format" : "pdf",

"description" : "Tanzania Top Ten, 1998 and 2007 (Real thousan US$)",
"source" : "http://amoondisaster.wordpress.com/2011/07/18/telling-stories-with-data-ii-the-slopegraph-strikes-back/"

}
