{

"label_font_family" : "Palatino",
"label_font_size" : "9",

"header_font_family" : "Palatino",
"header_font_size" : "10",

"x_margin" : "20",
"y_margin" : "30",

"line_width" : "1.0",

"slope_length" : "300",

"labels" : [ "% Merchandise Exports 1998", "% Merchandise Exports 2007" ],

"header_color" : "000000",
"background_color" : "FFFFFF",
"label_color" : "111111",
"value_color" : "999999",
"slope_color" : "888888",
"slope_up_color" : "54283C",
"slope_down_color" : "DBA96C",

"value_format_string" : "%2.1f%%",
"round_precision" : "1",

"input" : "examples/tanzania-percent.csv",
"output" : "examples/output/tanzania-percent",
"format" : "pdf",

"description" : "Top Tanzanian exports expressed as a percent of total merchandise exports (by value), 1997 & 2007",
"source" : "http://amoondisaster.wordpress.com/2011/07/18/telling-stories-with-data-ii-the-slopegraph-strikes-back/"

}
