{

"label_font_family" : "Palatino",
"label_font_size" : "9",

"header_font_family" : "Palatino",
"header_font_size" : "10",

"x_margin" : "20",
"y_margin" : "30",

"line_width" : "0.5",
"slope_length" : "150",

"labels" : [ "Boys", "Girls" ],

"header_color" : "000000",
"background_color" : "FFFFFF",
"label_color" : "111111",
"value_color" : "999999",
"slope_color" : "C98360",
"slope_up_color" : "54283C",
"slope_down_color" : "DBA96C",

"value_format_string" : "%2d",

"input" : "examples/television.csv",
"output" : "examples/output/television",
"format" : "pdf",

"description" : "lifespan of boys vs girls by country/region",
"source" : ""

}