{

"label_font_family" : "Palatino",
"label_font_size" : "20",

"x_margin" : "20",
"y_margin" : "30",

"line_width" : "0.5",

"labels" : [ "Age 20-24", "Age 25-29" ],

"background_color" : "transparent",
"label_color" : "687D64",
"value_color" : "949258",
"slope_color" : "BDA766",

"value_format_string" : "%2.1f",

"input" : "median-age.csv",
"output" : "transparent",
"format" : "pdf",

"description" : "Median age when having first child",
"source" : ""

}
